namespace GObject

# Can be ignored in the bindings.
ignore signal_set_va_marshaller

# The semantics for the DirectionIn pointer here are somewhat ambiguous.
ignore ClosureMarshal

# The first argument is NULL terminated, but it is not marked as such.
ignore signal_chain_from_overriden
ignore signal_emitv