sudo: false
language: c

addons:
  apt:
    packages:
      - libgtk-3-dev
      - libgtk2hs-buildtools
      - libgmp-dev

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

script: 
  - stack --no-terminal --install-ghc build

cache:
  directories:
    - $HOME/.stack
